{% extends "::base.html.twig" %}

{% block title %}AppBundle:LectureCtrl:index{% endblock %}

{% block body %}

    {{ form_start(leFormulaire) }}
    <p>{{ form_row(leFormulaire.num, {'label' : 'Numéro : '}) }}</p>

    <p><h2>

    {{ form_row (leFormulaire.nom, {'label' : 'Nom de l\'employe'}) }}
    {{ form_row (leFormulaire.prenom, {'label' : 'Prénom de l\'employe'}) }}

</h2></p>

    <p>{{ form_row(leFormulaire.dateNaissance) }}</p>
    {{ form_end(leFormulaire) }}



{% endblock %}
